
@section styles{
    <style>
        .divider {
            background-color: #EEEEEE;
            width: 100%;
            height: 2px;
            margin: 0.5rem 0;
        }

        .text-line-splitter {
            width: 100%;
            height: 2px;
            background: #eee;
            position: absolute;
        }

        .text-line {
            background: white;
            z-index: 1;
        }

        .selected-row {
            background-color: #343131;
            color: white;
        }

    </style>
}

<div class="page-content">
    <div class="row" id="mainContent">
        <div class="page-content">
            <!-- Title -->
            <div class="page-title-box">
                <div class="container-fluid">
                    <div class="page-title dflex-between-center">
                        <h3 class="mb-1 fw-bold">Reports</h3>
                        <ol class="breadcrumb mb-0 mt-1">
                            <li class="breadcrumb-item">
                                <a href="~/">
                                    <i class="bx bx-home fs-xs"></i>
                                </a>
                            </li>
                            <li class="breadcrumb-item active">Reports</li>
                        </ol>
                    </div>
                </div>
            </div>
            <div class="page-content-wrapper mt--45">
                <div class="container-fluid">
                    <div class="row">
                        <div class="card">
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table id="report-table" class="table table-centered mb-0 fs-13">
                                        <thead>
                                            <tr>
                                           
                                                <th>Decision</th>
                                                <th>Evaluator</th>
                                                <th>Inspector</th>
                                                <th>Control Number</th>
                                                <th>Date Finished</th>
                                                <th>Part Code</th>
                                                <th>Part Name</th>
                                                <th>Lot Number</th>
                                                <th>Lot Quantity</th>
                                                <th>DR Number</th>
                                                <th>Time</th>
                                                <th>Comments</th>
                                                <th>Inspector Comments</th>
                                                <th>NCR Number</th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="card p-4">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-lg-7 col-md-12 align-self-center">
                                        <div class="d-flex gap-5">
                                            <div class="form-group">
                                                <label for="FilterPartCode">Part Code:</label>
                                                <input class="form-control w-100" type="number" id="FilterPartCode" name="FilterPartCode" readonly />
                                            </div>
                                            <div class="form-group">
                                                <label for="FilterLotNumber">Lot Number:</label>
                                                <input class="form-control w-100" type="number" id="FilterLotNumber" name="FilterLotNumber" readonly />
                                            </div>
                                            <div class="form-group">
                                                <label for="FilterStartDate">From:</label>
                                                <input class="form-control w-100" type="number" id="FilterStartDate" name="FilterStartDate" readonly />
                                            </div>
                                        </div>
                                        <div class="d-flex gap-5">
                                            <div class="form-group">
                                                <label for="FilterSupplier">Supplier:</label>
                                                <input class="form-control w-100" type="number" id="FilterSupplier" name="FilterSupplier" readonly />
                                            </div>
                                            <div class="form-group">
                                                <label for="FilterDRNumber">DR Number:</label>
                                                <input class="form-control w-100" type="number" id="FilterDRNumber" name="FilterDRNumber" readonly />
                                            </div>
                                            <div class="form-group">
                                                <label for="FilterEndDate">To:</label>
                                                <input class="form-control w-100" type="number" id="FilterEndDate" name="FilterEndDate" readonly />
                                            </div>
                                        </div>
                                        <div>
                                            <button type="submit" class="btn btn-primary" disabled><i class="mdi mdi-magnify"></i> Search</button>
                                            <button type="reset" class="btn btn-secondary" disabled>Reset</button>
                                        </div>
                                    </div>
                                    <div class="col-lg-5 col-md-12 mt-lg-0 mt-md-2">
                                        <div class="d-flex align-items-center my-4 gap-2 position-relative">
                                            <p class="text-line m-0 position-relative"><b>Actions (Not Yet working)</b></p>
                                            <div class="text-line-splitter"></div>
                                        </div>
                                        <div class="d-flex flex-column gap-2">
                                            <button class="btn btn-primary" id="inspectionBtn">Inspection Result</button>
                                            <button class="btn btn-secondary" disabled>Nonconformity Report</button>
                                        </div>
                                        <div class="d-flex align-items-center my-4 gap-2 position-relative">
                                            <p class="text-line m-0 position-relative"><b>Other Reports</b></p>
                                            <div class="text-line-splitter"></div>
                                        </div>
                                        <div class="d-flex flex-column gap-2">
                                            <button class="btn btn-primary" disabled>Part Performance</button>
                                            <button class="btn btn-secondary" disabled>Supplier Performance</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Utility/JS/helpers.js"></script>
    <script>
        $(document).ready(function () {
    var reportTable = $('#report-table').DataTable({
        ajax: {
            url: '@Url.Action("GetReportData", "Reports")',
            dataSrc: 'data'
        },
        columns: [
            { data: "DecisionName" },
            { data: "EvaluatorName" },
            { data: "InspectorName" },
            { data: "ControlNumber" },
            {
                data: "DateFinished",
                type: "Date",
                render: function (data, type, row) {
                    return `${convertDateStringToFormattedString(data)}`;
                }
            },
            { data: "PartCode" },
            { data: "PartName" },
            { data: "LotNumber" },
            { data: "LotQuantity" },
            { data: "DRNumber" },
            { data: "TimeString" },
            { data: "Comments" },
            { data: "InspectorComments" },
            { data: "NCRNumber" }
        ],
        rowID: "DeliveryDetailID",
        lengthChange: false,
    });

    // Button click event handler
    $('#inspectionBtn').on('click', function (e) {
        // Check if the clicked element has the dataset.index
        let id = $(this).attr('data-id');
        $.ajax({
            url: '@Url.Action("CreateInspectionResult", "Reports")',
            method: "GET",
            data: { DeliveryDetailID: id },
            xhrFields: {
                responseType: 'blob' // Set the response type to blob
            },
            success: function (response, status, xhr) {
                if (status != 'success') {
                    alertify.error("Error encountered");
                    loadingBtn.replaceWith(btn);
                }
                else {
                    alertify.success("File downloaded");
                  
                    // Create a Blob object
                    const blob = new Blob([response], { type: 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet' });
                    // Create a Blob URL
                    const blobUrl = window.URL.createObjectURL(blob);
                    // Create a temporary link element
                    const a = document.createElement('a');
                    a.style.display = 'none';
                    document.body.appendChild(a);
                    // Set the href and download attributes
                    a.href = blobUrl;
                    a.download = `${id}.xlsx`; // Set the filename here
                    // Trigger a click event on the link to start the download
                    a.click();
                    // Clean up by revoking the Blob URL
                    window.URL.revokeObjectURL(blobUrl);
                }

            }, error: function (e) {
                alertify.error(`Error ${e} occured.`);
            }
        });
    });

    // FUNCTIONALITY: Table row selection
    reportTable.on('click', 'tbody tr', function (e) {
        var data = reportTable.row(this).data();
        let classList = e.currentTarget.classList;
        const rowIndex = reportTable.row(this).index();

        // Toggle selected row
        if (classList.contains('selected-row')) {
            classList.remove('selected-row');
            $('#inspectionBtn').removeAttr('data-id');

        } else if (!classList.contains('child')) {
            reportTable.rows('.selected-row').nodes().each((row) => row.classList.remove('selected-row'));
            classList.add('selected-row');
            $('#inspectionBtn').attr('data-id', data.DeliveryDetailID);
        }

        // Dynamically set data-index on the buttons based on the selected row
        
    });
});


    </script>
}