@section styles{
    <style>
        .divider {
            background-color: #EEEEEE;
            width: 100%;
            height: 2px;
            margin: 0.5rem 0;
        }
    </style>
}

<div class="page-content">
    <div class="row" id="mainContent">
        <div class="page-content">
            <!-- Title -->
            <div class="page-title-box">
                <div class="container-fluid">
                    <div class="page-title dflex-between-center">
                        <h3 class="mb-1 fw-bold">Evaluation</h3>
                        <ol class="breadcrumb mb-0 mt-1">
                            <li class="breadcrumb-item">
                                <a href="~/">
                                    <i class="bx bx-home fs-xs"></i>
                                </a>
                            </li>
                            <li class="breadcrumb-item active">Evaluation</li>
                        </ol>
                    </div>
                </div>
            </div>
            <div class="page-content-wrapper mt--45">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-9 col-md-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table id="evaluation-table" class="table table-centered mb-0 fs-13">
                                            <thead>
                                                <tr>
                                                    <th>Action</th>
                                                    <th>Decision</th>
                                                    <th>Evaluator</th>
                                                    <th>Inspector</th>
                                                    <th>Control Number</th>
                                                    <th>Inspector Comments</th>
                                                    <th>Date Finished</th>
                                                    <th>Part Code</th>
                                                    <th>Part Name</th>
                                                    <th>Lot Number</th>
                                                    <th>Lot Quantity</th>
                                                    <th>DR Number</th>
                                                    <th>Time</th>
                                                    <th>Comments</th>
                                                    <th>NCR Number</th>
                                                    <th>Purpose</th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                    <div class="my-4">
                                        <div class="divider"></div>
                                    </div>
                                    <div class="d-flex gap-5">
                                        <div class="form-group">
                                            <label for="FilterPartCode">Part Code:</label>
                                            <input class="form-control w-100" type="number" id="FilterPartCode" name="FilterPartCode" readonly />
                                        </div>
                                        <div class="form-group">
                                            <label for="FilterLotNumber">Lot Number:</label>
                                            <input class="form-control w-100" type="number" id="FilterLotNumber" name="FilterLotNumber" readonly />
                                        </div>
                                        <div class="form-group">
                                            <label for="FilterStartDate">From:</label>
                                            <input class="form-control w-100" type="number" id="FilterStartDate" name="FilterStartDate" readonly />
                                        </div>
                                    </div>
                                    <div class="d-flex gap-5">
                                        <div class="form-group">
                                            <label for="FilterSupplier">Supplier:</label>
                                            <input class="form-control w-100" type="number" id="FilterSupplier" name="FilterSupplier" readonly />
                                        </div>
                                        <div class="form-group">
                                            <label for="FilterDRNumber">DR Number:</label>
                                            <input class="form-control w-100" type="number" id="FilterDRNumber" name="FilterDRNumber" readonly />
                                        </div>
                                        <div class="form-group">
                                            <label for="FilterEndDate">To:</label>
                                            <input class="form-control w-100" type="number" id="FilterEndDate" name="FilterEndDate" readonly />
                                        </div>
                                    </div>
                                    <div>
                                        <button type="submit" class="btn btn-primary" disabled><i class="mdi mdi-magnify"></i> Search</button>
                                        <button type="reset" class="btn btn-secondary" disabled>Reset</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-12">
                            <div class="card">
                                <div class="card-header">
                                    <h4>Part Monitoring</h4>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table id="monitoring-table" class="table table-centered mb-0 fs-13">
                                            <thead>
                                                <tr>
                                                    <th>Part Code</th>
                                                    <th>Part Name</th>
                                                    <th>Monitoring Start</th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script src="~/Utility/JS/helpers.js"></script>
    <script>
        var evaluationTable;
        var partMonitoringTable;

        document.addEventListener('DOMContentLoaded', function () {

            partMonitoringTable = $('#monitoring-table').DataTable({

            });

            evaluationTable = $('#evaluation-table').DataTable({
                ajax: {
                    url: '/Evaluation/GetEvaluationData',
                    dataSrc: 'data'
                },
                lengthChange: false,
                responsive: false,
                columns: [
                    {
                        data: "DeliveryDetailID",
                        render: function (data, type, row, meta) {
                            return `
                            <div class="d-flex gap-1 flex-lg-row flex-md-column">
                                <button class="btn btn-sm btn-secondary waves-effect waves-light mb-1" onclick="evaluateItem(${meta.row})" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit"><i class="mdi mdi-clipboard-check-outline"></i></button>
                            </div>`;
                        }
                    },
                    { data: 'DecisionName' },
                    { data: 'EvaluatorName' },
                    { data: 'InspectorName' },
                    { data: 'ControlNumber' },
                    { data: 'InspectorComments'},
                    {
                        data: 'DateFinished',
                        render: function (data, type, row) {
                            return `${convertDateStringToFormattedString(data)}`
                        }
                    },
                    { data: 'PartCode' },
                    { data: 'PartName' },
                    { data: 'LotNumber' },
                    { data: 'LotQuantity' },
                    { data: 'DRNumber' },
                    {
                        data: 'Time',
                        render: function (data, type, row)
                        {
                            return `${convertIntToTimeFormat(data)}`
                        }
                    },
                    { data: 'Comments' },
                    { data: 'NCRNumber' },
                    { data: 'Purpose' },
                ],
            });
        });

        function evaluateItem(rowIndex) {
            const { DeliveryDetailID } = evaluationTable.row(rowIndex).data();
            console.log(DeliveryDetailID);
            const link = `/Evaluation/Details/${DeliveryDetailID}`;
            window.location.href = link;
        }
    </script>
}