@model IEnumerable<PartsIq.Models.Part>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .table-container {
        height: 40vh;
        overflow-y: auto;
    }
</style>

<div class="page-content">
    <div class="page-title-box">
        <div class="container-fluid">
            <div class="page-title dflex-between-center">
                <h3 class="mb-1 fw-bold">PIS</h3>
                <ol class="breadcrumb mb-0 mt-1">
                    <li class="breadcrumb-item">
                        <a href="../index.html">
                            <i class="bx bx-home fs-xs"></i>
                        </a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="ui-buttons.html">
                            Components
                        </a>
                    </li>
                    <li class="breadcrumb-item active">Accordian</li>
                </ol>
            </div>
        </div>
    </div>
    <div class="page-content-wrapper mt--45">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title">Accounts</h5>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <table class="table table-centered dt-responsive w-100 dataTable no-footer dtr-inline " id="pis-table">
                                        <thead>
                                            <tr>
                                                <th>Code</th>
                                                <th>Name</th>
                                                <th>Model</th>
                                                <th>Document Number</th>
                                                <th>Action</th>
                                            </tr>                                           
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div> <!-- end card-box-->
                </div> <!-- end col -->
            </div> <!-- end row -->
        </div>
    </div>
</div>


@section scripts {
    <script>
        $(document).ready(function () {

            $(document).on('click', '.viewPartBtn', function () {
                let id = $(this).data('id');
                window.location.href = `/Parts/Details/${id}`;
            });

            $.ajax({
                url: '@Url.Action("GetPISTable", "Parts")',
                method: "GET",
                success: function (response) {
                    var pisTable = $(document).find('#pis-table').DataTable({
                        data: response,  
                        columns: [
                            { data: "Code" },
                            { data: "Name" },
                            { data: "Model" },
                            { data: "FilePath" },
                            {
                                data: "PartID",
                                render: function (data, type, row) {
                                    return ` <div>
                                    <button data-id="${data}" class="btn btn-sm btn-secondary waves-effect waves-light mb-1 viewPartBtn" ><i class="mdi mdi-pencil"></i></button>
                                    <button class="btn btn-sm btn-danger waves-effect waves-light mb-1" data-bs-toggle="modal" data-bs-target="#archiveModal"><i class="mdi mdi-archive-arrow-down"></i></button>
                                                   </div>`;
                                },
                            }
                        ],
                        lengthChange: !1,
                        buttons: [
                            { extend: "copy", className: "btn-light" },
                            { extend: "csv", className: "btn-light" },
                        ],
                        scrollX: true,
                        rowId: "PartID",
                        scrollY: '300px',
                        responsive: false,
                        searching: true,
                        language: {
                            paginate: {
                                previous: "<i class='mdi mdi-chevron-left'>",
                                next: "<i class='mdi mdi-chevron-right'>",
                            },
                        },
                        drawCallback: function () {
                            $(".dataTables_paginate > .pagination").addClass(
                                "flat-rounded-pagination"
                            ),
                                $(".dataTables_filter")
                                    .find("label")
                                    .addClass("search-box d-inline-flex position-relative"),
                                $(".dataTables_filter")
                                    .find(".form-control")
                                    .attr("placeholder", "Search...");
                        },
                    });

                    

                }

            });
        });

    </script>

}